body, html {
  font-family: "Roboto-Regular";
  position: relative;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

.out-content {
  max-width: 1440px;
  padding: 50px;
  margin: 0 auto;
}
