.order-form {
  position: relative;
  padding: 100px 0 45px 0;
  z-index: 1;
  &__content {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__title {
    font-size: 35px;
    margin-bottom: 25px;
    color: #fff;
    text-shadow: 0 0 4px #000;
    line-height: 1;
    text-align: center;
  }
  &__subtitle {
    font-size: 17px;
    margin: 0 0 6px 10px;
    color: #000;
    line-height: 1;
    text-transform: uppercase;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__inner {
    width: 100%;
    margin-bottom: 25px;
    &.middle {
      width: 48%;
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }
  &__field {

  }
  &__link {
    color: #32241c;
    text-decoration: underline;
  }
  &__input {
    width: 100%;
    font-size: 17px;
    padding: 7px 10px;
    color: #000;
    background-color: rgba(255,255,255,.6);
    border: 1px solid #c1c1c1;
    &::placeholder {
      color: #000;
    }
  }
  &__bottom {
    margin-top: 20px;
    text-align: center;
  }
  &__select {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
    .select2-container {
      width: 30% !important;
      @media screen and (max-width: 500px) {
        width: 100% !important;
        margin-bottom: 15px;
      }
    }
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 50%;
  transform: translate(0,-50%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: red transparent transparent transparent;
  border-width: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent red transparent;
  border-width: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: "Sura-Regular";
  font-size: 16px;
  padding: 15px 10px 13px 10px;
  text-align: center;
  // border: none;
  text-transform: uppercase;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.31);
  color: #000;
  background-color: rgba(255,255,255,.6);
}
.select2-container--default .select2-selection--single {
  background-color: transparent;
}
.select2-container .select2-selection--single {
  height: auto;
}

.select2-container--default .select2-selection--single {
  border: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: rgba(5,86,163,.7);
}
